<?xml version="1.0"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Conexão banco de dados -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=wfbdbserver.database.windows.net;Initial Catalog=icumedical;Persist Security Info=True;User ID=db;Password=@Mepm2412;Pooling=false" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- Configurações gerais da aplicação -->
  <appSettings>
    <!--Nome, url, etc...  -->
    <add key="WEBSITE_TIME_ZONE" value="E. South America Standard Time"/>
    <add key="App.Owner" value="WFB Consultoria"/>
    <add key="App.Customer" value="ICU Medical"/>
    <add key="App.Name" value="BI Hospitalar ICU Medical"/>
    <add key="App.Initials" value="HLX"/>
    <!-- E-mail, SMTP, Chave Send Grid,etc... -->
    <add key="App.Support.Email" value="icu_medical@wfbconsultoria.com.br"/>
    <add key="App.Support.Name" value="WFB Consultoria (ICU Medical)"/>
    <add key="App.SMTP.host" value="smtp.office365.com"/>
    <add key="App.SMTP.user" value="icu_medical@wfbconsultoria.com.br"/>
    <add key="App.SMTP.password" value="@Mepm2412"/>
    <add key="App.SMTP.port" value="587"/>
    <add key="SoaWebServices.User" value="miro@wfbconsultoria.com.br"/>
    <add key="SoaWebServices.Password" value="@Mepm2412"/>
    <add key="svcCDC.cdc" value="https://svc1.soawebservices.com.br/webservices/producao/cdc/cdc.asmx"/>
    <add key="Api.Token.BrasilAbertod" value="Bearer ywrDQmn4IQmctYX7rExhQIKOt2BNq0BEbvwJbW0W3PX2rxWD9qpXkbXJNT8xai9B"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="wsCorreios.AtendeCliente" name="AtendeClientePort"/>
    </client>
  </system.serviceModel>
</configuration>