<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Conexão banco de dados COMENTAR ESTE TRECHO DE CONFIGURAÇÃO ANTES DE PUBLICAR a configuração de conexão com banco de dados deve ser feita no IIS do srevidor -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=chapeira.net.br;Initial Catalog=Decathlon_Chapeira;Persist Security Info=True;User ID=sa;Password=@Mepm2412" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--ALTERAR PARA AS PUBLICAÇÕES DE CADA LOJA  -->
    <add key="Loja_Sigla" value="WFB" />
    <add key="Loja" value="WFB CONSULTORIA" />
    <add key="App.MailFrom" value="suporte@chapeira.com.br" />
    <add key="App.MailFromName" value="Chapeira Digital - DECATHLON" />
    <add key="App.URL" value="https://chapeira.com.br" />
    <add key="PowerBi.Datamaster" value="https://app.powerbi.com/view?r=eyJrIjoiOTNhMDc2MTAtMjM2OC00MzU1LWJkNGMtNzIxMjllZTIwZWFkIiwidCI6Ijc2YjM2MTMwLTMzZjUtNGY2MC05NWVmLTg0MzlmOTQ4NmNmZiJ9" />
    <!-- Configuração do Cliente... -->
    <add key="App.Owner" value="DECATHLON" />
    <add key="App.Initials" value="DCT" />
    <add key="App.Customer" value="DECATHLON" />
    <add key="App.Name" value="Chapeira Digital" />
    <add key="App.Email" value="suporte@chapeira.com.br" />
    <add key="App.Country" value="Brasil" />
    <add key="App.Country_Code" value="BRA" />
    <!-- Configuração de Fuso Horário no Azure... -->
    <add key="WEBSITE_TIME_ZONE" value="E. South America Standard Time" />
    <!-- E-mail, SMTP, Chave Send Grid,etc... -->
    <add key="App.Support.Email" value="suporte@chapeira.com.br" />
    <add key="App.Support.Name" value="Suporte Chapeira Digital" />
    <add key="App.System.Email" value="suporte@chapeira.com.br" />
    <add key="App.SMTP.host" value="smtp.office365.com" />
    <add key="App.SMTP.user" value="suporte@chapeira.com.br" />
    <add key="App.SMTP.password" value="@Mepm2412" />
    <add key="App.SMTP.port" value="587" />
    <!-- Tabelas de dados de usuarios, perfis, etc... -->
    <add key="App.Users.tb_Logins" value="AspNetUsers" />
    <add key="App.Users.tb_Logins.Key.Colunm" value="UserName" />
    <add key="App.Users.tb_Users" value="tb_Users" />
    <add key="App.Users.tb_Users.Key.Colunm" value="Email" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>