<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!-- Conexão banco de dados -->
  <connectionStrings>
    <add name="cnnProduction" connectionString="Data Source=database.csl.net.br;Persist Security Info=True;User ID=sa;Password=@Mepm2412;Connect Timeout=60;TrustServerCertificate=False;Network Library=dbmssocn"
      providerName="System.Data.SqlClient" />
    
    <add name="cnnBackup" connectionString="Data Source=Backup.csl.net.br;Persist Security Info=True;User ID=sa;Password=@Mepm2412"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!-- Constantes de configuração da aplicação -->
  <appSettings>
    <!--App Infos-->
      <add key="App.name" value="CSL BackUp"/><!--comentário a respeito da constante-->
    
    <!--Email Infos-->
    <add key="SMTP.user" value="suporte@wfbconsultoria.com.br"/>
    <add key="SMTP.password" value="@Mepm2412"/>
    <add key="SMTP.host" value="smtp.office365.com"/>
    <add key="SMTP.port" value="587"/>
    <add key="Email.to" value="csl@wfbconsultoria.com.br"/>
    <add key="Email.to.name" value="CSL Behring (suporte)"/>

    <!--SFTP Production Infos-->
    <add key="SFTP.production.host" value="database.csl.net.br"></add>
    <add key="SFTP.production.user" value="root"></add>
    <add key="SFTP.production.password" value="mepm2412"></add>
    <add key="SFTP.production.folder" value="/var/opt/mssql/data/backup"></add>
    <add key="SqlCommandTimeOut" value="240"></add>


    <!--SFTP Backup Infos-->
    <add key="SFTP.backup.host" value="backup.csl.net.br"></add>
    <add key="SFTP.backup.user" value="administrator"></add>
    <add key="SFTP.backup.password" value="@Mepm2412"></add>
    <add key="SFTP.backup.folder" value="/var/opt/mssql/data/restore"></add>
   
  </appSettings>
</configuration>