<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BiHospitalar2020.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!-- Conexão banco de dados -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=wfbdbserver.database.windows.net;Initial Catalog=halexistar;Persist Security Info=True;User ID=db;Password=@Mepm2412;Pooling=false" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!-- Configurações gerais da aplicação -->
  <appSettings>
    
    <!--Nome, url, etc...  -->
    <add key="WEBSITE_TIME_ZONE" value="E. South America Standard Time" />
    <add key="App.Owner" value="WFB Tecnologia" />
    <add key="App.Initials" value="HLX" />
    <add key="App.Customer" value="Halexistar"></add>
    <add key="App.Name" value="BI Hospiatalar Halexistar"></add>
    <add key="App.URL" value="halexistar.azurewebsites.net\"></add>
    <add key="App.Country" value="Brasil"></add>
    <add key="App.Country_Code" value="BRA"></add>

    <!-- E-mail, SMTP, Chave Send Grid,etc... -->
    <add key="App.Support.Email" value="halexistar@wfbconsultoria.com.br"></add>
    <add key="App.Support.Name" value="WFB Consultoria (Halexistar)"></add>
    <add key="App.SMTP.host" value="smtp.office365.com" />
    <add key="App.SMTP.user" value="halexistar@wfbconsultoria.com.br" />  
    <add key="App.SMTP.password" value="@Mepm2412" />
    <add key="App.SMTP.port" value="587" />
   
    
    <!-- Consulta IP, API key e URL... -->
    <!-- site para configuração do serviço https://www.ipinfodb.com/login username: miro@wfbconsultoria.com.br, password @Mepm2412 -->
    <!-- verificar documentação em https://www.ip2location.io/ip2location-documentation -->
    <add key="App.IpInfo.apiKey" value="02D97CCCF9FB0BAD12CCED44C1D3F41D" />
    <add key="App.IpInfo.Url" value="https://api.ip2location.io/?key=02D97CCCF9FB0BAD12CCED44C1D3F41D" />
    
    <!-- Tabelas de dados de usuarios, perfis, etc... -->
    <add key="App.Users.tb_Logins" value="AspNetUsers" />
    <add key="App.Users.tb_Logins.Key.Colunm" value="UserName" />
    <add key="App.Users.tb_Users" value="sys_Users" />
    <add key="App.Users.tb_Users.Key.Colunm" value="Email" />

  </appSettings>
  
  <system.web>
    
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
	      A Associação ASP.NET é desabilitada neste modelo. Visite o seguinte link https://go.microsoft.com/fwlink/?LinkId=301889 para saber mais sobre a Associação do ASP.NET com suporte neste modelo
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
	      O Perfil de Associação do ASP.NET está desabilitado neste modelo. Visite o seguinte link https://go.microsoft.com/fwlink/?LinkId=301889 para saber mais sobre a Associação ASP.NET com suporte neste modelo
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
	        A Função de Associação do ASP.NET está desabilitada neste modelo. Visite o seguinte link https://go.microsoft.com/fwlink/?LinkId=301889 para saber mais sobre a Associação do ASP.NET com suporte neste modelo
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            Caso esteja implantando em um ambiente em nuvem que possua diversas instâncias de servidor da Web,
            o modo de estado da sessão deve ser alterado de "InProc" para "Custom". Além disso,
            altere a cadeia de conexão denominada "DefaultConnection" para conectar-se a uma instância
            do SQL Server (incluindo SQL Azure e SQL Compact) em vez de SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <BiHospitalar2020.My.MySettings>
      <setting name="CannaMedsBrasil_svcCDC_CDC" serializeAs="String">
        <value>https://www.soawebservices.com.br/webservices/producao/cdc/cdc.asmx</value>
      </setting>
      <setting name="CannaMedsBrasil_svcCEP_CEP" serializeAs="String">
        <value>http://www.soawebservices.com.br/webservices/producao/cep/cep.asmx</value>
      </setting>
    </BiHospitalar2020.My.MySettings>
  </applicationSettings>
</configuration>