<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
    <!--Conexão Banco de dados SQL Server  -->
    <add name="DefaultConnection"
      connectionString="Data Source=bihospitalar.com.br;Initial Catalog=BIP;Persist Security Info=True;User ID=sa;Password=@Mepm2412"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>
    <!--Nome, url, etc...  -->
    <add key="WEBSITE_TIME_ZONE" value="E. South America Standard Time"/>
    <add key="App.Owner" value="WFB Consultoria em Informatica"/>
    <add key="App.Name" value="Bi Pharmaceuticals"></add>
    <add key="App.Initials" value="BIP"/>
    <add key="App.Customer" value="WFB Consultoria"></add>
    <add key="App.Country" value="Brasil"></add>
    <add key="App.Country_Code" value="BRA"></add>
  
    <!-- E-mail, SMTP, Chave Send Grid,etc... -->
    <add key="App.Email" value="suporte@bipharmaceuticals.com"></add>
    <!--<add key="App.SMTP.host" value="smtp.office365.com"/>
    <add key="App.SMTP.user" value="suporte.bipharmaceuticals.com"/>
    <add key="App.SMTP.password" value="@Mepm2412"/>
    <add key="App.SMTP.port" value="587"/>-->
    
    <add key="App.SMTP.host" value="smtp.sendgrid.net" />
    <add key="App.SMTP.user" value="azure_f2feb4bece63cca69471193c3d5069e8@azure.com" />
    <add key="App.SMTP.password" value="@Mepm24121968" />
    <add key="App.SMTP.port" value="25" />
    <add key="App.SMTP.apiKey" value="SG.K4WZ7WV6TkS7DDYvFAzT4Q.jvJ-zAMIeA3_icI6J - welS0d5Uf1teWsgKbKL8zRA2w" />
  </appSettings>
  
  <system.web>
    <pages enableSessionState="true"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
