<?xml version="1.0"?>
<configuration>

  <!-- Conexão banco de dados -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=database.chapeira.com.br;Initial Catalog=Decathlon_Chapeira;Persist Security Info=True;User ID=sa;Password=@Mepm2412"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Configurações do site (aplicação) -->
  <appSettings>
   
    <!-- Configuração do Cliente... -->
    <add key="App.Owner" value="WFB Consultoria" />
    <add key="App.Customer" value="WFB Consultoria"></add>
    <add key="App.Name" value="Site Modelo"></add>
    <add key="App.Initials" value="WFB" />
    <add key="App.Country" value="Brasil"></add>
    <add key="App.Country_Code" value="BRA"></add>

    <!-- Configuração de Fuso Horário no Azure... -->
    <add key="WEBSITE_TIME_ZONE" value="E. South America Standard Time" />
    
    <!-- E-mail, SMTP, Chave Send Grid,etc... -->
    <add key="App.Email" value="suporte@wfbconsultoria.com.br"></add>
    <add key="App.SMTP.host" value="smtp.office365.com" />
    <add key="App.SMTP.password" value="@Mepm2412" />
    <add key="App.SMTP.port" value="587" />
  </appSettings>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2"/>
  </system.web>
</configuration>