<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Conexão banco de dados -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=wfbdbserver.database.windows.net;Initial Catalog=amgangels;Persist Security Info=True;User ID=db;Password=@Mepm2412;Pooling=false" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8.1" />
    <pages controlRenderingCompatibilityVersion="4.0"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
  </system.web>
</configuration>