<?xml version="1.0"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Conexão banco de dados -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=bihospitalar.com.br;Initial Catalog=Decathlon_Chapeira;Persist Security Info=True;User ID=sa;Password=@Mepm2412;Pooling=false" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="deleteAfterServicing = true"/>
    <add key="Loja_Sigla" value="RS-BELAS"/>
    <add key="Loja" value="PRAIA DE BELAS"/>
    <!--Nome, url, etc...  -->
    <add key="WEBSITE_TIME_ZONE" value="E. South America Standard Time"/>
    <add key="App.Owner" value="Decathlon"/>
    <add key="App.Initials" value="DCT"/>
    <add key="App.Customer" value="Decathlon"/>
    <add key="App.Name" value="Chapeira Digital"/>
    <add key="App.URL" value="https://decathlon-chapeira.azurewebsites.net\"/>
    <add key="App.Country" value="Brasil"/>
    <add key="App.Country_Code" value="BRA"/>
    <!-- E-mail, SMTP, Chave Send Grid,etc... -->
    <add key="App.Support.Email" value="suporte@wfbconsultoria.com.br"/>
    <add key="App.Support.Name" value="Support"/>
    <add key="App.System.Email" value="wfbconsultoria@wfbconsultoria.com.br"/>
    <add key="App.MailFrom" value="chapeira@decathlon.com"/>
    <add key="App.SMTP.host" value="smtp.sendgrid.net"/>
    <add key="App.SMTP.user" value="azure_f2feb4bece63cca69471193c3d5069e8@azure.com"/>
    <add key="App.SMTP.password" value="@Mepm24121968"/>
    <add key="App.SMTP.port" value="25"/>
    <add key="App.SMTP.apiKey" value="SG.K4WZ7WV6TkS7DDYvFAzT4Q.jvJ-zAMIeA3_icI6J - welS0d5Uf1teWsgKbKL8zRA2w"/>
    <!-- Consulta IP, API key e URL... -->
    <!-- site para configuração do serviço https://www.ipinfodb.com/login username: cannameds, password @Mepm2412 -->
    <add key="App.IpInfo.apiKey" value="d679f74a0ab74258f522a561abc54c5377d2dfad93f048642693d389ab7c8aee"/>
    <add key="App.IpInfo.Url" value="http://api.ipinfodb.com/v3/ip-city"/>
    <!-- Tabelas de dados de usuarios, perfis, etc... -->
    <add key="App.Users.tb_Logins" value="AspNetUsers"/>
    <add key="App.Users.tb_Logins.Key.Colunm" value="UserName"/>
    <add key="App.Users.tb_Users" value="tb_Users"/>
    <add key="App.Users.tb_Users.Key.Colunm" value="Email"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>