
body{
    line-height: 1.5;
    color: #222;
     font-family: Calibri, Arial, sans-serif;
    font-weight: normal;
    margin:0;
    padding:0;
    }

body #Corpo form div nav ul header img #header-logo #header-menu #Titulo_Pagina #Titulo_Pagina_Cabecalho #Titulo_Pagina_Links #inf_login{
	display:block;
	margin: 0;
	padding: 0;
	border: 0;
    
	}

h4 {
    margin:0;
    padding:0;
    color:#01284c;
}


a {
    text-decoration: none;
    border: 0;
    border: 0;
    border-color: 0;
    color: #333399;
}

    a:visited {
        border:0;
        text-decoration:none;
        
    }

    a:active {
        text-decoration:none;
        border:0;
    }
    a:hover {
    text-decoration: none;
    border: 0;
    color: #0000FF;
    font-weight: bold;
}


.linkcolorido {
    color:#5a3988;
}




/*----------------Titulo página-----------------*/
#Titulo_Pagina {
   width: 95%;
   margin-left: auto;
   margin-right: auto;
   max-width: 1180px;
   margin-top:10px;
   margin-bottom:10px; 
   display:block;
}

#Titulo_Pagina_Cabecalho {
    float:left;
    text-align:left;
    font-size: 20px;
    color:#1a1a1a;  
    
}

#Titulo_Pagina_Links {
    float:right;
    text-align:right;
    font-size:medium;
    margin-left:20px;
    
}

.Titulo_Pagina_Links_asp {
    font-size:small;
    margin-left:5px;
}

/*----------------Titulo página  end-----------------*/

/*-----Header-Menu-----------------*/
.header
{
  border-bottom: 5px solid #5a3988;
  padding: 0;
  margin-left: 0 auto;
  margin-right:0 auto;
  background-color:#f1f1f1;
  width: 100%;
  vertical-align: baseline;
}


#header-container{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1180px;
	}

#inf_login{
    float: right;
    height:50%;
    margin-right:10px;
    padding-top:6px;
    font-size:x-small;
    color:#2b2b2b;
    
}

.imglogo{
	
	margin-top: .05em;
    margin-bottom: .25em;
    float:left;
    height: 41px;
    width: 81px;
}

.menu-component{
	position: relative;
	display: block;
	clear: both;
	float: none;
	margin: 0;
	width: 100%;
    top: 0px;
    left: 0px;
    height:auto;
    }

#header-menu{
	width:95%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1180px; 
    }

.menu{
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
	text-transform:uppercase;
	}

.menu li {
	list-style:none;
	display:inline;
    padding-right:20px;
	}

    .menu li a {
     color:#006bb7;
     font-size:100%;
     text-align:center;
     text-decoration:none;
    font: bold  "Arial", Arial;
       
    }

      .menu li a:hover {
       color:#5a3988;
    }

    .menu li:hover {
    }
	
.link_submenu {
	line-height: 2.5em;
	color:#808080;
	text-indent: 0;
	border-bottom: none;
	text-decoration:none;
    margin:0;
    cursor: pointer;
	}

    .link_submenu:hover {
        color:#5a3988;
    }

#link_sair{
    font-size:small;
    margin-left:3px;
}
	

/*-----------------Header-Menu End------------------*/

/*Corpo*/

#Corpo {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
    margin-top:0px;
    text-align: left;
}

/*-----------------*/


h3 {
    margin-bottom:0;
    margin-top:10px;
    color:#1a1a1a;
    height: 32px;
}



.subtitulo {
    margin-top:0;
    padding:0;
}

.esquecisenha_buton {
    color:#5a3988;
    font-size:smaller;
}

.buton_gravar
{
     width: auto;
    vertical-align:central;
    padding: 6px 12px 6px 12px;
    border: 1px solid #808080;
    
    
   
}

/*-------------incluir-usuario----------------------------------------------------*/
#incluir_usuario {
    list-style:none;
    position:relative;
    margin:0;
}

    #incluir_usuario li {
        margin:10px;
    }

p {
    margin:0;
}
/*-------------incluir-usuario-END------------------------------------------------*/

#menulista{
   
    display: block;
list-style-type:none;
padding:0;


}

  #menulista   li {
  padding:0;

    }

