<?xml version="1.0"?>
<configuration>

  <!-- Conexão banco de dados -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=database.chapeira.com.br;Initial Catalog=Decathlon_Chapeira;Persist Security Info=True;User ID=sa;Password=@Mepm2412"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!--ALTERAR PARA AS PUBLICAÇÕES DE CADA LOJA  -->
    <!--<add key="Loja_Sigla" value="WFB" />
    <add key="Loja" value="" />
    <add key="App.MailFrom" value="" />
    <add key="App.MailFromName" value="" />
    <add key="App.URL" value=""></add>-->

    <add key="Loja_Sigla" value="PR-MARIN" />
    <add key="Loja" value="Chapeira" />
    <add key="App.MailFrom" value="suporte@chapeira.com.br" />
    <add key="App.MailFromName" value="Chapeira WEB" />
    <add key="App.URL" value="https://chapeira.com.br/chapeira\"></add>

    <!-- Configuração do Cliente... -->
    <add key="App.Owner" value="WFB Consultoria" />
    <add key="App.Initials" value="DCT" />
    <add key="App.Customer" value="DECATHLON"></add>
    <add key="App.Name" value="Chapeira/Mobi"></add>
    <add key="App.Email" value="suporte@chapeira.com.br"></add>
    <add key="App.Country" value="Brasil"></add>
    <add key="App.Country_Code" value="BRA"></add>

    <!-- Configuração de Fuso Horário no Azure... -->
    <add key="WEBSITE_TIME_ZONE" value="E. South America Standard Time" />

    <!-- E-mail, SMTP, Chave Send Grid,etc... -->
    <add key="App.Support.Email" value="suporte@chapeira.com.br"></add>
    <add key="App.Support.Name" value="Suporte Chapeira Digital"></add>
    <add key="App.System.Email" value="suporte@chapeira.com.br"></add>
    <add key="App.SMTP.host" value="smtp.office365.com" />
    <add key="App.SMTP.user" value="suporte@chapeira.com.br" />
    <add key="App.SMTP.password" value="@Mepm2412" />
    <add key="App.SMTP.port" value="587" />
  </appSettings>
  
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
</configuration>