<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="token_Correio" value="NFKDa3rkiT4QQjpeUx0Et6nllqjvVdM1CYVl6kMA" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="wsCorreios.AtendeCliente" name="AtendeClientePort" />
    </client>
  </system.serviceModel>
</configuration>