<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=192.95.35.145;Initial Catalog=CSL-Reports-2020;Persist Security Info=False;User ID=sa;Password=@Mepm2412;Pooling=False" providerName="System.Data.SqlClient"/>
    <!-- <add name="DefaultConnection" connectionString="Data Source=wfbconsultoria.database.windows.net;Initial Catalog=CSL-Reports-2020;Persist Security Info=False;User ID=wfbconsultoria;Password=@Mepm24121968;Pooling=False" providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!--App Settings-->
    <add key="Application.Owner" value="WFB Tecnologia da Informação"/>
    <add key="Application.Customer" value="Siemens Healthneers"/>
    <add key="Application.Name" value="Equipment Productivity"/>
    <add key="Application.URL" value="http://www.bihospitalar.com.br/siemens"/>
    <add key="Application.Color" value="dodgerblue"/>
    <add key="Application.ValidadeEmailDomain" value="Validate"/>
    <add key="Application.Abb" value="SMH"/>
    <add key="Application.Language" value="Português"/>
    <add key="Application.Country" value="Brasil"/>
    <add key="Application.Country_Code" value="BR"/>
    <add key="Application.Country_Qt" value="1"/>
    <add key="Application.Version" value="2020.1"/>
    <add key="Application.EmailDomain" value="@bihospitalar.com"/>
    <add key="Application.EmailSystem" value="@bihospitalar.com"/>
    <add key="Application.Signature" value="@ WFB Tecnologia da Informação"/>
    <!--Mail Settings-->
    <add key="Mail" value="suporte@wfbconsultoria.com.br"/>
    <add key="Mail.Name.System" value="System Siemens Healthneers"/>
    <add key="Mail.Name.Suport" value="Support Siemens Healthneers"/>
    <add key="Mail.Name.Security" value="Security Siemens Healthneers"/>
    <add key="Mail.SMTP.Host" value="smtp.gmail.com"/>
    <add key="Mail.SMTP.Port" value="587"/>
    <add key="Mail.SMTP.Username" value="wfbconsultoria@gmail.com"/>
    <add key="Mail.SMTP.Password" value="@Mepm2412"/>
    <!--Menus-->
    <add key="menu.Default" value="My Reports"/>
    <add key="menu.Admin" value="Manage"/>
    <add key="menu.NewUser" value="New User"/>
    <add key="menu.UsersList" value="Users"/>
    <add key="menu.Forgot" value="Recovery Password"/>
    <add key="menu.Change" value="Manage Password"/>
    <!--Buttons Caption-->
    <add key="btn.Save" value="Save"/>
    <add key="btn.Cancel" value="Cancel"/>
    <add key="btn.On" value="On"/>
    <add key="btn.Off" value="Off"/>
    <!--Labels Caption-->
    <add key="lbl.InsertUser" value="Insert by"/>
    <add key="lbl.InsertDate" value="Insert Date"/>
    <add key="lbl.UpdateUser" value="Update by"/>
    <add key="lbl.UpdateDate" value="Update Date"/>
    <!--Messages-->
    <!--General-->
    <add key="msg.SystemError" value="Erro de sistema"/>
    <add key="msg.FieldRequired" value="Campo requerido"/>
    <add key="msg.FieldNoMatch" value="Campo não coincidem"/>
    <add key="msg.UpdateSuccess" value="Atualização realizada com sucesso"/>
    <add key="msg.UpdateFailure" value="Erro durante a atualização"/>
    <!--Login and Access-->
    <add key="msg.AccessDenied" value="Acesso não autorizado"/>
    <add key="msg.ErrLogin" value="Usuário ou senha inválidos"/>
    <add key="msg.ErrEmailRequired" value="Digite seu e-mail"/>
    <add key="msg.ErrPasswordRequired" value="Digite sua senha"/>
    <add key="msg.UserActive" value="Usuário Ativo"/>
    <add key="msg.UserInactive" value="Usuário Inativo"/>
    <!--Change/Recovery Password-->
    <add key="msg.ChangedPassword" value="Sua senha foi alterada com sucesso"/>
    <add key="msg.ChangePasswordNotMatch" value="A senha atual não coincide com a senha inserida"/>
    <add key="msg.ErrChangePassword" value="Erro durante a atualização da senha"/>
    <add key="msg.ErrRecoveryPassword" value="Não foi possível recuperar sua senha, este e-mail não é válido"/>
    <add key="msg.SendPassword" value="Sua senha foi enviada para seu e-mail, verifique sua Caixa de entrada ou Lixo eletrônico"/>
    <add key="msg.RecoveredPasswordMsg" value="Sua senha foi recuperada com êxito"/>
    <add key="msg.RecoveredPasswordMail" value="Lembrete de senha"/>
    <add key="msg.ErrRecoveredPassword" value="Não foi possível recuperar sua senha"/>
    <add key="msg.UserRegisteredFailure" value="Este e-mail já esta registrado"/>
    <add key="msg.UserRegisteredSuccess" value="Usuário registrado corretamente"/>
    <add key="msg.UserRegisteredSuccess1" value="Seu acesso foi criado em: "/>
    <add key="msg.UserRegisteredSuccess2" value="Em seu navegador, digite http://www.bihospitalar.com.br/csl-reports-2020, insira seu usuario, dominio e senha. a Senha gerada pelo sistema é "/>
    <add key="msg.UserRegisteredSuccess3" value=" ao logar icone de usuario poderá redefinir a senha."/>
    <add key="msg.UserNotFound" value="Usuário não existe"/>
    <add key="msg.UserInactivated" value="Usuário inativo"/>
    <add key="msg.UserActivatedMail" value="Seu usuário foi ativado"/>
    <add key="msg.UserInactivatedMail" value="Seu usuário foi desativado"/>
    <add key="msg.UserActivated" value="Usuario ativado"/>
    <add key="msg.UserUpdatedSuccess" value="Usuário atualizado corretamente"/>
    <add key="msg.UserUpdateLogged" value="Não é possível alterar a senha com o usuário logado"/>
    <!--Page Default.aspx-->
    <add key="Default.title" value="Inicio"/>
    <add key="Report.Name" value="Report Name"/>
    <add key="Report.Description" value="Report Description"/>
    <!--Page ChangePassword.aspx-->
    <add key="ChangePassword.title" value="Redefinir senha"/>
    <add key="ChangePassword.lbl.CurrentPassword" value="Senha atual"/>
    <add key="ChangePassword.lbl.NewPassword" value="Nova senha"/>
    <add key="ChangePassword.lbl.ConfirmPassword" value="Confirmar nova senha"/>
    <!--Page UserRegister.aspx / UserEdit.aspx / UsersList.aspx-->
    <add key="UserRegister.title" value="Novo usuário"/>
    <add key="UserEdit.title" value="Editar usuários"/>
    <add key="UsersList.title" value="Lista de usuários"/>
    <add key="UserRegister.lbl.UserStatus" value="Ativo"/>
    <add key="UserRegister.lbl.Username" value="Nome"/>
    <add key="UserRegister.lbl.UserEmail" value="E-mail"/>
    <add key="UserRegister.lbl.UserProfile" value="Perfil"/>
    <add key="UserRegister.lbl.UserPhone" value="Telefone"/>
  </appSettings>
  <!--System Configuration xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <customErrors mode="Off"/>
    <authentication mode="None"/>
    <compilation targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Microsoft.AspNet.Identity"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add assembly="Microsoft.PowerBI.AspNet.WebForms, Version=1.1.10.17058, Culture=neutral, PublicKeyToken=31bf3856ad364e35" namespace="Microsoft.PowerBI.AspNet.WebForms.UI.WebControls" tagPrefix="powerbi"/>
      </controls>
    </pages>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpRedirect enabled="false" destination="https://www.csl.net.br"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: {064c2c24-f1d3-4b3a-8d2c-4bb349c429dd}-->