<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BiPh.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--Conexão Banco de dados SQL Server  -->
    <add name="DefaultConnection" connectionString="Data Source=bihospitalar.com.br;Initial Catalog=BiPh_cannameds;Persist Security Info=True;User ID=sa;Password=@Mepm2412" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Nome, url, etc...  -->
    <add key="WEBSITE_TIME_ZONE" value="E. South America Standard Time" />
    <add key="App.Owner" value="WFB Consultoria em Informatica" />
    <add key="App.Name" value="Cannameds Brasil">
    </add>
    <add key="App.Initials" value="CND" />
    <add key="App.Customer" value="Ecogen Labs">
    </add>
    <add key="App.Country" value="Brasil">
    </add>
    <add key="App.Country_Code" value="BRA">
    </add>
    <add key="App.URL" value="http://www.cannameds.com.br">
    </add>
    <add key="App.OrphanEmail" value="cannameds@cannameds.com.br">
    </add>
    <!-- E-mail, SMTP, Office 365,etc... -->
    <add key="App.Email" value="suporte@cannameds.com.br">
    </add>
    <add key="App.SMTP.host" value="smtp.office365.com" />
    <add key="App.SMTP.user" value="suporte@cannameds.com.br" />
    <add key="App.SMTP.password" value="@Mepm2412" />
    <add key="App.SMTP.port" value="587" />
    <!-- E-mail, SMTP, Chave Send Grid,etc... -->
    <!--<add key="App.SMTP.host" value="smtp.sendgrid.net" />
    <add key="App.SMTP.user" value="azure_f2feb4bece63cca69471193c3d5069e8@azure.com" />
    <add key="App.SMTP.password" value="@Mepm24121968" />
    <add key="App.SMTP.port" value="25" />
    <add key="App.SMTP.apiKey" value="SG.K4WZ7WV6TkS7DDYvFAzT4Q.jvJ-zAMIeA3_icI6J - welS0d5Uf1teWsgKbKL8zRA2w" />-->
  </appSettings>
  <system.web>
    <pages enableSessionState="true" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <applicationSettings>
    <BiPh.My.MySettings>
      <setting name="BiPh_svcCDC_CDC" serializeAs="String">
        <value>https://www.soawebservices.com.br/webservices/producao/cdc/cdc.asmx</value>
      </setting>
      <setting name="BiPh_svcCEP_CEP" serializeAs="String">
        <value>http://www.soawebservices.com.br/webservices/producao/cep/cep.asmx</value>
      </setting>
    </BiPh.My.MySettings>
  </applicationSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>