<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="RemoteOnly" />
    <compilation targetFramework="4.5.2" debug="true">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <!--Configuração de conexão com banco-->
  <connectionStrings>
    <!--<add name="MySqlConnection" connectionString="Server=201.46.24.133;Database=services;Uid=sa;Pwd=@Mepm2412;pooling=false;" providerName="MySql.Data.MySqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=bihospitalar.com.br;Initial Catalog=WFB_SOLUTIONS_DEV;Persist Security Info=True;User ID=sa;Password=@Mepm2412; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--Configurações de nomeclaturas da página-->
  <appSettings>
    <add key="MetaDeveloper" value="WFB Consultoria" />
    <add key="MetaDescription" value="Aplicação de serviços da WFB Consultoria Informática." />
    <add key="MetaKeywords" value="WFB Consultoria" />
    <!--Configurações de nome da aplicação-->
    <add key="ApplicationTitle" value="Services" />
    <add key="ApplicationIcon" value="img/icone.png" />
    <add key="ApplicationLogo" value="img/logo.png" />
    <add key="ApplicationName" value="Services" />
    <add key="ApplicationInitials" value="SER" />
    <add key="ApplicationDescription" value="Aplicação de serviços da empresas WFB Consultoria." />
    <add key="ApplicationURL" value="http://www.bihospitalar.srv/Services" />
    <!--Desenvolvimento-->
    <add key="Developer" value="WFB Consultoria" />
    <add key="Year" value="2018" />
    <!--Configurações da página de erro-->
    <add key="ErrorPage" value="Página de erro" />
    <!--Configurações de e-mail -->
    <add key="Mail" value="suporte@wfbconsultoria.com.br" />
    <add key="Mail.Name.System" value="System" />
    <add key="Mail.Name.Support" value="Support" />
    <add key="Mail.Name.Security" value="Security" />
    <add key="Mail.SMTP.Host" value="smtp.office365.com" />
    <add key="Mail.SMTP.Port" value="587" />
    <add key="Mail.SMTP.Username" value="suporte@wfbconsultoria.com.br" />
    <add key="Mail.SMTP.Password" value="@Mepm2412" />
    <!--Configurações de Botões-->
    <add key="btnLogin" value="Entrar" />
    <add key="btnCreateAccount" value="Cadastre-se" />
    <add key="btnRecoverPassword" value="Recuperar senha" />
    <add key="btnReturn" value="Voltar" />
    <add key="btnUpdate" value="Atualizar" />
    <add key="btnRegister" value="Cadastrar" />
    <add key="btnDelete" value="Apagar" />
    <add key="btnBackup" value="Realizar backup" />
    <add key="btnTestConnection" value="Testar Conexão" />
    <add key="btnValidationCode" value="Validar conta" />
  </appSettings>
  <!--Setando páginas padrão-->
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <!--Limpar lista de documentos-->
        <clear />
        <!--Adiciona página como padrão-->
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CDCSoap">
          <security mode="Transport" />
        </binding>
        <binding name="CDCSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CDCSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <!--Configuração para uso do serviço do SOA-->
    <client>
      <endpoint address="https://www.soawebservices.com.br/webservices/producao/cdc/cdc.asmx" binding="basicHttpBinding" bindingConfiguration="CDCSoap" contract="svcCDC.CDCSoap" name="CDCSoap" />
    </client>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.12.0" newVersion="8.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>