<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Conexão banco de dados COMENTAR ESTE TRECHO DE CONFIGURAÇÃO ANTES DE PUBLICAR a configuração de conexão com banco de dados deve ser feita no IIS do srevidor -->
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=chapeira.net.br;Initial Catalog=Decathlon_Chapeira;Persist Security Info=True;User ID=sa;Password=@Mepm2412"
      providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=decathlon-dbserver.database.windows.net;Initial Catalog=chapeira_db;Persist Security Info=True;User ID=db@chapeira.com;Password=@Mepm2412;Authentication=Active Directory Password;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--ALTERAR PARA AS PUBLICAÇÕES DE CADA LOJA  -->
    <!--<add key="Loja_Sigla" value="WFB" />
    <add key="Loja" value="WFB CONSULTORIA" />-->
    <add key="App.MailFrom" value="suporte@chapeira.com.br" />
    <add key="App.MailFromName" value="Chapeira - DECATHLON" />
    <add key="App.URL" value="https://chapeira.com.br" />
    <add key="PowerBi.Datamaster" value="https://app.powerbi.com/view?r=eyJrIjoiOTNhMDc2MTAtMjM2OC00MzU1LWJkNGMtNzIxMjllZTIwZWFkIiwidCI6Ijc2YjM2MTMwLTMzZjUtNGY2MC05NWVmLTg0MzlmOTQ4NmNmZiJ9" />
    <!-- Configuração do Cliente... -->
    <add key="App.Owner" value="DECATHLON" />
    <add key="App.Initials" value="DCT" />
    <add key="App.Customer" value="DECATHLON" />
    <add key="App.Name" value="Chapeira" />
    <add key="App.Email" value="suporte@chapeira.com.br" />
    <add key="App.Country" value="Brasil" />
    <add key="App.Country_Code" value="BRA" />
    <!-- Configuração de Fuso Horário no Azure... -->
    <add key="WEBSITE_TIME_ZONE" value="E. South America Standard Time" />
    <!-- E-mail, SMTP, Chave Send Grid,etc... -->
    <add key="App.Support.Email" value="suporte@chapeira.com.br" />
    <add key="App.Support.Name" value="Suporte Chapeira Digital" />
    <add key="App.System.Email" value="suporte@chapeira.com.br" />
    <add key="App.SMTP.host" value="smtp.office365.com" />
    <add key="App.SMTP.user" value="suporte@chapeira.com.br" />
    <add key="App.SMTP.password" value="@Mepm2412" />
    <add key="App.SMTP.port" value="587" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>